body {
	background-color: gainsboro;
	color: darkgreen;
	font-size: 15px;
}
p {
	color: purple;
}
div {
	background: rgb(196, 187, 239);
	width: 500px;
	height: 500px;
}

span {
	font-size: larger;
	color: blue;
}
